h2 = "Customer Order: #{@order.customer.name}"
h3 = "Order no: #{@order.id}"

h4 Widgets Assigned To This Order (#{@order.widgets.count})
- @order.widgets.each do |widget|
  ul
    li = widget.serial_number


= link_to 'Back to  Orders', orders_path
